In [2]:
x = 'innomatics reserch lab is an institue located at jntu metro station'
print('X')

X

In [3]:
x

'innomatics reserch lab is an institue located at jntu metro station'

In [5]:
x.rfind("a")

62

### rfind starts from right to left but index valuse from left to right only

In [9]:
"malayalam".rfind("a",2)

7

In [10]:

m = ('malayalam')

In [15]:
m.rfind("a"), m.find("a")

(7, 1)

###  .find  and . index both are used to find the index but find is goinfg to with out an error, .index is usedd to find an error

In [16]:
m

'malayalam'

In [17]:
m.find("Z")

-1

In [18]:
m.index("Z")

ValueError: substring not found

### you can look above to see the examples

In [19]:
m

'malayalam'

In [21]:
m.rindex("y")
m.rindex("l")

6

In [22]:
m

'malayalam'

In [26]:
m.replace ("a","g",4)

'mglgyglgm'

### .replace is used to replaace strings whicha are higliting in a given string

In [27]:
x

'innomatics reserch lab is an institue located at jntu metro station'

In [29]:
x.split()

['innomatics',
 'reserch',
 'lab',
 'is',
 'an',
 'institue',
 'located',
 'at',
 'jntu',
 'metro',
 'station']

In [31]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [32]:
x

'innomatics reserch lab is an institue located at jntu metro station'

In [34]:
x.rsplit(" ")

['innomatics',
 'reserch',
 'lab',
 'is',
 'an',
 'institue',
 'located',
 'at',
 'jntu',
 'metro',
 'station']

### partition

In [35]:
x

'innomatics reserch lab is an institue located at jntu metro station'

###partiton always gives you always three partitions

In [36]:
x

'innomatics reserch lab is an institue located at jntu metro station'

In [43]:
x.partition("Arun ")

('innomatics reserch lab is an institue located at jntu metro station', '', '')

In [40]:
m

'malayalam'

In [42]:
m.split("a")

['m', 'l', 'y', 'l', 'm']

In [ ]:
m